@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,800';

header {
  background: rgba(75, 91, 110, 0.8);
  margin: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  top: 0;
}

#logo {
  color: #fff;
  font-size: 25px;
  font-family: 'Open Sans';
  font-weight: 800;
  margin: 20px 0px 20px 80px;
}

#menu{
  margin-right: 40px;
  margin-top: 10px;
}

#menu ul{
  list-style: none;
}

#menu ul li{
  display: inline-block;
  margin-left: 15px;
}

#menu ul li:first-child {
  margin-left: 0px;
}

#menu ul li a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
}

#menu ul li a:hover {
  border-bottom: 2px solid white;
}

#menu ul li a.active {
  border-bottom: 2px solid white;
}

.info {
  background: url('../img/ud1.jpg') no-repeat fixed;
  display: flex;
  justify-content: center;
  height: 700px;
  align-items: center;
}

  .info__poster {
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
  }

  .info__descripcion {
    background: rgba(37, 165, 95, 0.7);
    color: white;
    font-family: 'Open Sans';
    height: 400px;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
  }

  .info__descripcion h1 {
    font-size: 36px;
    font-weight: 800;
  }

  .info__descripcion p {
    text-align: center;
  }

  .info__boton {
    background: #fecc09;
    margin-top: 20px;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5%;
    cursor: pointer;
  }

#expositores {
  height: 700px;
}

#expositores .content {
  background: #F9690E fixed;
  height: 100%;

}

#ubicacion {
  background: url('../img/map-pattern.png') fixed;
  /*background-size: cover;*/
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 500px;
}

#ubicacion #direccion {
  font-family: "Open Sans";
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 30px;
  color: white;
  height: 300px;
  justify-content: center;
}

#ubicacion #direccion #universidad {
  font-size: 25px;
  font-weight: 800;
}

#ubicacion #direccion #facultad {
  font-size: 20px;
  font-weight: 400;
}

#ubicacion #direccion #locacion {
  font-weight: 400;
}

#patrocinadores {
  background: url('../img/dark.png') fixed;
  height: 200px;
}
