<!DOCTYPE html>
<html lang="es" ng-app="SLUD">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SLUD 2016</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="Menu as menu">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Desplegar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="logo">
          <a href="http://glud.org">
            <img data-aos="fade-right" width="80" height="40" src="img/logo_glud.svg"/>
          </a>
          <span>SLUD 2016<span>
        </div>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li ng-repeat="item in menu.lista">
            <a href={{item.url}}>{{item.text}}</a>
          </li>
  	    </ul>
      </div>
    </div>
  </nav>
  <section class="info">
    <div class="info-container container" data-aos="fade-up">
      <img class="info__poster col-xs-12 col-sm-5 col-md-4" width="350" height="400" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=POSTER&w=350&h=400" />
      <div class="info__descripcion col-xs-12 col-sm-7 col-md-8">
        <h1>Semana Linux Universidad Distrital 2016</h1>
        <p>La Semana Linux es un evento anual de visibilidad nacional, organizado por el Grupo GNU/Linux de la Universidad Distrital, donde se da a conocer el Software Libre y sus ventajas para el progreso tecnológico de la sociedad, allí convergen estudiantes, profesores, expertos en software libre y usuarios finales, interesados en familiarizarse con el uso de software libre y su filosofía.</p>
        <div class="info__boton">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfUkCz3o3VgP1LB_bfLdMzb47f-8npODkD3QRgiY4Kugk1Vow/viewform">Participa</a>
        </div>
      </div>
      </div>
  </section>
  <section id="expositores" class="expositores container-fluid" ng-controller="Expositores as expositores">
    <h2 data-aos="fade-down">Expositores</h2>
    <div class="expositores__lista container">
      <article class="lista__persona col-xs-12 col-sm-4" data-aos="fade-right" ng-repeat="e in expositores.lista">
        <img width="200" height="200" src={{e.foto}} />
        <div>
          <span>{{e.nombre}}</span>
          <span>{{e.trabajo}}</span>
        </div>
      </article>
    </div>
  </section>
  <section id="agenda" class="agenda container-fluid" ng-controller="Agenda as agenda">
    <div class="container">
      <h2 data-aos="fade-right">Agenda de charlas y talleres</h2>
      <div class="container">
         <table class="table" ng-repeat="dia in agenda.dias">
           <thead>
             <tr class="dia">
               <th class="span" colspan="3">{{dia.header}}</th>
             </tr>
             <tr>
               <th class="fecha">Hora</th>
               <th>Charla</th>
               <th>Expositor</th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat="charla in dia.charlas">
               <td class="fecha">{{charla.hora}}</td>
               <td>{{charla.nombre}}</td>
               <td>{{charla.expositor}}</td>
             </tr>
           </tbody>
          </table>
      </div>
    </div>
  </section>
  <section id="ubicacion" class="ubicacion container-fluid">
    <div class="container">
      <div class="direccion col-xs-12 col-sm-5 pull-right">
        <img src="img/EscudoUD.png" align="top" alt="Universidad Distrital" width=200>
        <span class="universidad">Universidad Distrital</span>
        <span class="facultad">Facultad de Ingeniería</span>
        <span class="locacion">Dirección: Cra. 8 # 40 - 62</span>
      </div>
      <iframe class="frame col-xs-12 col-sm-7" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8101263330436!2d-74.06762644944611!3d4.627939143555758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a286d598bd5%3A0xddf14904a87dfb47!2sUniversidad+Distrital+Francisco+Jose+de+Caldas!5e0!3m2!1ses!2sco!4v1474493415529" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </section>
  <section id="patrocinadores" class="patrocinadores container-fluid">
    <div class="container">
      <h2 data-aos="fade-right">Patrocinadores</h2>
      <div class="logos">
        <img src="img/zeety.png" alt="Zeety" width="150" height="80"/>
        <img src="img/UDIng.jpg" alt="UDIng" width="190" height="85"/>
      </div>
    </div>
  </section>
  <footer>
    Grupo de trabajo GNU/Linux Universidad Distrital
    <a href="https://www.facebook.com/GrupoLinuxUD" class="icon-facebook"></a>
    <a href="https://twitter.com/GrupoLinuxUD" class="icon-twitter"></a>
  </footer>
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!-- Bootstap js -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.js"></script>

  <script src="js/util.js"></script>
  <script src="js/app.js"></script>
  <script>
    AOS.init({
      easing: 'ease-out-back',
        duration: 1000
    	});
  </script>
</body>
</html>
