<section class="infoagenda">
  <div class="container" >
    <div class="container-logo" data-aos="zoom-in-down" >

      <h1><strong>XXIV SEMANA ICG 2018</strong></h1>
      <h5>ÉTICA EN EL QUE HACER INGENIERIL DE LAS FUTURAS GENERACIONES</h5>
      <h6>Ingeniería Catastral y Geodesia (1967 - 2018)</h6>
    </div>
  </div>
</section>


<section class="detalles">
  <div class="container">
    <div>
      <div class="col-sm heading">
        <p> La XXIV Semana ICG 2018 que se realizará entre el <strong> 22 </strong> al <strong> 26 </strong> de <strong> octubre </strong>  de 2018 ofrece a los estudiantes, egresados y profesionales, un conjunto de conferencias y talleres GRATUITOS que se realizarán en la Universidad Distrital Francisco José de Caldas, Facultad de Ingeniería (Cra 8 No. 40 - 62) <br>
        Inscríbete a las <strong>conferencias</strong> en el siguiente <a href="https://docs.google.com/forms/d/e/1FAIpQLSeCxEX6RAwWpUTIVPiQQI_gifbmH5DH8NlWVJR4Gw4B7BqQrg/viewform" >enlace </a> y sí deseas participar en un <strong>taller</strong> puedes encontrar los enlaces de inscripción en la agenda de talleres.
        Recuerda que <strong>la programación está sujeta a cambios  </strong>.  <br>.<br>

        También te invitamos a participar en el <strong>Conversatorio: Ética en el quehacer ingenieril de las futuras generaciones </strong> por la Licenciada Nancy Gamboa y el Ingeniero German Cabuya el <strong> Miercoles 24 de Octubre </strong> Hora : 2:00 - 4:00 pm
        en el Auditorio Sabio Caldas (Carrera 8 # 40 - 62), <a href="https://docs.google.com/forms/d/e/1FAIpQLSdyoNDpAiNNmOfKaHFTR06-rvGZ7EniEBr446Gak2pydyqk8A/viewform">Inscríbete.</a>

      </div>
  </div>
</section>

<section id="agenda" class="agenda" ng-controller="Agenda as agenda">
   <!-- Tabla responsive para que no se rompa en pantallas muy pequeñas -->
   <div class="container table-responsive">
     <h2 class="subtitle" data-aos="fade-right">Agenda de Charlas</h2>
     <table class="table" ng-repeat="dia in agenda.dias">
       <thead>
         <!-- Este header indica el día de la semana -->
         <tr class="dia">
           <th class="span" colspan="4">{{dia.header}}</th>
         </tr>
         <!-- Información básica de la charla -->
         <tr>
           <th class="fecha">Hora</th>
           <th>Charla</th>
           <th>Expositor</th>
         </tr>
       </thead>
       <!-- Charlas -->
       <tbody>
         <tr ng-repeat="charla in dia.charlas">
         <td class="fecha">{{charla.hora}}</td>
           <td>{{charla.nombre}}</td>
           <td>{{charla.expositor}}</td>
         </tr>
       </tbody>
     </table>
   </div>
  </div>
</section>





<section id="agenda" class="agenda" ng-controller="Agenda as agenda">
   <div class="container table-responsive">
     <h2 class="subtitle" data-aos="fade-right">Agenda de Talleres</h2>
     <table class="table" ng-repeat="dia in agenda.talleres">
       <thead>
         <!-- Este header indica el día de la semana -->
         <tr class="dia">
           <th class="span" colspan="4">{{dia.header}}</th>
         </tr>
         <!-- Información básica de la charla -->
         <tr>
           <th class="fecha">Hora</th>
           <th>Taller</th>
           <th>Expositor</th>
           <th>Lugar</th>
         </tr>
       </thead>
       <!-- Talleres -->
       <tbody>
         <tr ng-repeat="charla in dia.charlas">
         <td class="fecha">{{charla.hora}}</td>
           <td ng-bind-html="charla.nombre | unsafe"></td>
           <td>{{charla.expositor}}</td>
           <td>{{charla.lugar}}</td>
         </tr>
       </tbody>
     </table>
   </div>
 </section>
