<section class="infoc">
  <div class="container" >
    <div class="container-logo" data-aos="zoom-in-down" >

      <h1><strong>XXIV SEMANA ICG 2018</strong></h1>
      <h5>GEOCIENCIAS, CATASTRO Y SISTEMAS TERRITORIALES</h5>
      <h6>Ingeniería Catastral y Geodesia (1967 - 2018)</h6>
    </div>
  </div>
</section>


<!-- Sección con detalles de la semana -->
<section class="detalles">
  <div class="container">
    <div class="row">
      <div class="col-sm heading">
        <h3>XXIV Semana de Ingeniería Catastral y Geodesia</h3>
        <p>Del <strong> 22 </strong> al <strong> 26 </strong> de <strong> octubre </strong>  de 2018 <br>
        Bogotá, Colombia</p>
      </div>
    </div>

		<div id="contenedor_principal">
		<!--Primera Imagen-->
		<div class="contenedor_imagen_texto">
		<div class="imagen"><img src="../img/img_evento1.jpg"></div>
		<div class="textoo">Texto debajo de la imagen</div>
		</div>

		<!--Segunda Imagen-->
		<div class="contenedor_imagen_texto">
		<div class="imagen"><img src="../img/img_evento2.jpg"></div>
		<div class="textoo">Texto debajo de la imagen</div>
		</div>

		<!--tercera Imagen-->
		<div class="contenedor_imagen_texto">
		<div class="imagen"><img src="../img/img_evento3.jpg"></div>
		<div class="textoo">Texto debajo de la imagen</div>
		</div>
		</div>
    </div>
    
  </div>
</section>
