<section class="info">
  <div class="container">
    <div class="row informacion">
      <div class="col-sm descripcion">
        <div>
          <h5><strong>XXIV Semana de Ingeniería Catastral y Geodesia</strong></h5>
          51 Años (1967 - 2018)
        </div>
        <div>
          <h6><strong>Ejes Temáticos</strong></h6>
          La Semana ICG de Ingeniería Catastral y Geodesia aborda los siguientes temas:.
        </div>
      </div>
      <div class="col-sm items">
        <h6 class="strong">Sistemas Territoriales</h6>
        <ul>
          <li>Catastro</li>
          <li>Sistemas Catastrales</li>
          <li>Planeación y Ordenamiento Territorial</li>
          <li>Geografia Urbana</li>
          <li>Gestión Ambiental</li>
          <li>Evaluación de Proyectos</li>
          <li>Valorización</li>
        </ul>
        <h6 class="strong">Geomática y Aplicaciones</h6>
        <ul>
          <li>Sistemas de Información Geográfica</li>
          <li>cartografía</li>
          <li>Teledetección</li>
          <li>Radar</li>
        </ul>
        <h6 class="strong">Geociencias</h6>
        <ul>
          <li>Geodesia</li>
          <li>Geofisica</li>
        </ul>
      </div>
    </div>
  </div>
</section>
