<!-- Cabecera de la página -->
<section class="info">
  <div class="container" >
    <div class="container-logo" data-aos="zoom-in-down" >
      <h1><strong>XXIV SEMANA ICG 2018</strong></h1>
      <h5>GEOCIENCIAS, CATASTRO Y SISTEMAS TERRITORIALES</h5>
      <h6>Ingeniería Catastral y Geodesia (1967 - 2018)</h6>
    </div>
  </div>
</section>


<section class="detalles">
  <div class="container">
    <div class="row informacion">
      <div class="col-sm descripcion">
        <div>
          <h5><strong>XXIV SEMANA DE INGENIERÍA CATASTRAL Y GEODESÍA</strong></h5>
          51 Años (1967 - 2018)
        </div>
        <div>
          <h6><strong>EJES TEMÁTICOS</strong></h6>
          La Semana ICG de Ingeniería Catastral y Geodesia aborda los siguientes temas:
        </div>
      </div>
      <div class="col-sm items">
        <h6 class="strong">Sistemas Territoriales</h6>
        <ul>
          <li>Catastro</li>
          <li>Sistemas Catastrales</li>
          <li>Planeación y Ordenamiento Territorial</li>
          <li>Geografia Urbana</li>
          <li>Gestión Ambiental</li>
          <li>Evaluación de Proyectos</li>
          <li>Valorización</li>
        </ul>
        <h6 class="strong">Geomática y Aplicaciones</h6>
        <ul>
          <li>Sistemas de Información Geográfica</li>
          <li>cartografía</li>
          <li>Teledetección</li>
          <li>Radar</li>
        </ul>
        <h6 class="strong">Geociencias</h6>
        <ul>
          <li>Geodesia</li>
          <li>Geofisica</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="detalles actividades">
  <div class="container">
        <h2>¡Participa!</h2>
        <div class="row">
            <div id="contenedor_principal">
    		<!--Primera Imagen-->
        		<div class="col-sm contenedor_imagen_texto">
                    <div class="imagen"><img src="../img/img_evento1.jpg"></div>
        		</div>

        		<!--Segunda Imagen-->
        		<div class="col-sm contenedor_imagen_texto">
                    <div class="imagen"><img src="../img/img_evento2.jpg"></div>
        		</div>

        		<!--tercera Imagen-->
        		<div class="col-sm contenedor_imagen_texto">
                    <div class="imagen"><img src="../img/img_evento3.jpg"></div>
        		</div>
    		</div>
        </div>
    </div>

  </div>
</section>

<section class="infod">
  <div class="container" >
    <div class="container-logo" data-aos="zoom-in-down" >
      <p><strong>XXIV Semana de Ingeniería Catastral y Geodesia</strong></p>
      <h2><strong>Del 22 al 26 de Octubre de 2018 </strong> </h2>
       <p>Bogotá, Colombia</p>
    </div>
  </div>
</section>
<!-- Sección con detalles de la semana -->
<section class="detalles">
  <div class="container">
    <div class="row body">
      <div class="col-sm item">
        <h5>Objetivo</h5>
        <p><span>Ofrecer talleres y conferencias con temas relacionados con Ing. Catastrla y Geodesia, con el fin de incentivar la participación de estudiantes, profesores y egresados, en la transferencia de conocimientos lo cual permitirá enriquecer las actividades académicas del programa y propiciará el mejoramiento continuo del mismo.</span></p>
      </div>
      <div class="col-sm item">
        <h5>Temática</h5>
        <p><span class="botom">La XXIV Semana ICG 2018 "Geociencias, Catastro y Sistemas Territoriales" se centra, entre otras, en las temáticas:</span>

        <span>Catastro, Geociencias, Geodesia, Geofísica, Sistemas Territoriales, Sistemas Catastrales, Sistemas de Teledetección, Imágenes de Satélite, Geomática y Aplicaciones en Geomática.</span></p>
      </div>

      <div class="col-sm item">
        <h5>Escríbenos</h5>
        <div>
          <div class="tag">
            <span>Para mayor información, sugerencias y/o comentarios nos puedes escribir a los siguientes correos electrónicos: </span>

            <a href="mailto:semanaicg@udistrital.edu.co">semanaicg@udistrital.edu.co</a> <br>
            <a href="mailto:ingcatastral@udistrital.edu.co">ingcatastral@udistrital.edu.co</a> <br>
            <a href="mailto:semanaingcg@ugmail.com">semanaingcg@ugmail.com</a> <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
